@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }

  body{
    color: black;
  }

  header{
      font-size: 25px;
      font-weight: bold;
  }

  .columns {
    float: left;
    width: 33.3%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #2D2926FF;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color:  #F05136;
    color: white;
    font-size: 30px;
    font-weight: bold;
  }
  
  .price li {
    border-bottom: 1px solid #F05136;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  .price .grey {
    font-size: 25px;
    background-color:  #F05136;
  }
  
  .button {
    background-color: #F05136;
    color: white;
    border: none;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  footer{
    margin-top: 40%;
    margin-left: 1%;
  }

  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }