@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }

  body{
    color: black;
  }


  footer{
    margin-top: 40%;
    margin-left: 1%;
  }

  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }
